
> blog@1.0.0 build:client /Users/guo/Project/blog
> webpack --mode=production "--reporter" "checkstyle"

{ _: [],
  mode: 'production',
  reporter: 'checkstyle',
  '$0': '/Users/guo/Project/blog/node_modules/.bin/webpack' }
Hash: 1fd76278930faade0d2c
Version: webpack 4.41.5
Time: 2422ms
Built at: 2020-01-02 11:12:01 PM
                                     Asset       Size  Chunks                                Chunk Names
          css/app.1fd76278930faade0d2c.css   34 bytes       0  [emitted] [immutable]         app
image/1addad8b99f9e3c42092a14a5c965818.png   1.12 MiB          [emitted]              [big]  
                             script/app.js    169 KiB       0  [emitted]                     app
                           view/index.html  405 bytes          [emitted]                     
Entrypoint app = css/app.1fd76278930faade0d2c.css script/app.js
[24] ./src/client/assets/css/global.scss 39 bytes {0} [built]
[44] (webpack)/buildin/global.js 475 bytes {0} [built]
[47] ./src/client/index.tsx + 17 modules 77.7 KiB {0} [built]
     | ./src/client/index.tsx 188 bytes [built]
     | ./src/client/router/index.tsx 811 bytes [built]
     | ./src/client/assets/image/home.png 86 bytes [built]
     |     + 15 hidden modules
    + 46 hidden modules

WARNING in asset size limit: The following asset(s) exceed the recommended size limit (244 KiB).
This can impact web performance.
Assets: 
  image/1addad8b99f9e3c42092a14a5c965818.png (1.12 MiB)

WARNING in webpack performance recommendations: 
You can limit the size of your bundles by using import() or require.ensure to lazy load some parts of your application.
For more info visit https://webpack.js.org/guides/code-splitting/
Child html-webpack-plugin for "view/index.html":
     1 asset
    Entrypoint undefined = view/index.html
    [0] ./node_modules/html-webpack-plugin/lib/loader.js!./src/client/template.html 556 bytes {0} [built]
    [2] (webpack)/buildin/global.js 475 bytes {0} [built]
    [3] (webpack)/buildin/module.js 546 bytes {0} [built]
        + 1 hidden module
Child mini-css-extract-plugin node_modules/css-loader/dist/cjs.js!node_modules/sass-loader/dist/cjs.js!src/client/assets/css/global.scss:
    Entrypoint mini-css-extract-plugin = *
    [0] ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/assets/css/global.scss 275 bytes {0} [built]
        + 1 hidden module
